.box {
  height: 100px;
  min-width: 100px;
}

.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.grey {
  background-color: grey;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

.inner {
  background-color: #dddddd;
  margin: auto;
  width: 300px;
  overflow-x: scroll;
}

.inner::-webkit-scrollbar {
  display: none;
}

.images-wrapper {
  padding: 10px;
  display: flex;
  gap: 20px;
}
